<th:block th:with="comments = ${commentFinder.list(null, 1, 8)}">
    <div class="amos-card" th:if="${not #lists.isEmpty(comments.items)}">
        <div class="amos-card-title">
            <div class="dot status-processing" style="background:#3b76fb;"></div>
            <div>最新交流</div>
        </div>
        <div id="amos-waline-recent" style="display: block;">
            <ul class="waline-widget-list">
                <th:block th:each="comment,iterStat : ${comments.items}">
                    <li class="waline-widget-item" th:with="page = ${comment.spec.subjectRef.kind == 'Post' ? postFinder.getByName(comment.spec.subjectRef.name) :
                comment.spec.subjectRef.kind == 'SinglePage' && not #strings.contains('photos,links,moments', comment.spec.subjectRef.name) ? singlePageFinder.getByName(comment.spec.subjectRef.name) : null},
                url = ${page == null? '/' : page.status.permalink + '#comment-' + comment.metadata.name}">
                        <a class="amos-recent-list" th:href="${url}">
                            <img class="recent-avatar"
                                 th:with=" img =${#strings.isEmpty(comment.owner.avatar)?'https://cravatar.cn/avatar/?d=mp':comment.owner.avatar}"
                                 th:src="${img}">
                            [[${comment.owner.displayName}]]：
                        </a>
                        <div class="recent-content">
                            <th:block th:text="${comment.spec.content}"></th:block>
                        </div>
                    </li>
                </th:block>

            </ul>
        </div>

        <div class="amos-recent-error"></div>
    </div>
</th:block>
