<footer class="mdl-mini-footer" id="bottom">
    <div class="mdl-mini-footer--left-section sns-list">
        <img th:src="${theme.config.footer.left_section}" style="width: auto; max-height: 156px; border-radius: 100%;">
    </div>
    <div id="copyright">
        <div th:utext="${theme.config.footer.copyright_html}"></div>
        <br>
        <div th:with="sfooter_info = ${theme.config.footer.sfooter_info}">
            <th:block th:each="sfooter,iterStat : ${sfooter_info}">
                <a th:href="${sfooter.sf_link}" th:text="${sfooter.sf_title}"></a>
                <th:block th:if="${iterStat.count<sfooter_info.size()}">/</th:block>
            </th:block>
        </div>
        <br>
        <th:block th:utext="${theme.config.footer.beian_html}"></th:block>
    </div>
    <div class="mdl-mini-footer--right-section">
        <div>
            <div class="footer-develop-div">
                <a href="https://www.halo.run" target="_blank" class="footer-develop-a">
                    <img class="lazy"
                        th:data-original="@{/assets/img/Frame-halo.svg}"
                        title="框架：Halo">
                </a>
            </div>
            <div class="footer-develop-div">
                <a href="https://github.com/chengzhongxue/halo-theme-material" target="_blank" class="footer-develop-a">
                    <img class="lazy" th:data-original="@{/assets/img/Theme-Material-EA1E63.svg}"
                        title="主题：Material">
                </a>
            </div>
        </div>
    </div>
</footer>