<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(head = ~{::head},content = ~{::content},_title = ${tag.spec.displayName})}">
<th:block th:fragment="head">
  <meta property="og:url" th:content="${site.url+tag.status.permalink}">
  <meta property="og:type" content="blog">
  <meta property="og:title" th:content="${site_title}">
  <meta property="og:image" th:content="${site.favicon}">
  <meta property="og:description" th:content="${site_title}">
  <link rel="canonical" th:href="${site.url+tag.status.permalink}">
</th:block>
<th:block th:fragment="content">
  <div class="amos-main-setion">
    <div class="material-index mdl-grid amos-main">
      <th:block th:replace="~{'macro/post-card'}" />
    </div>
    <th:block th:replace="~{'modules/widgets/amos-aside'}" />
  </div>
  <th:block th:replace="~{'modules/css/amos-main'}" />
  <script th:src="@{/assets/js/jQuery.positionSticky/jQuery.positionSticky.min.js}"></script>
  <th:block th:replace="~{'modules/js/show_runtime-script'}" />
</th:block>

</html>